.navWrapper {
    width: 100%;
    z-index: 1000;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 60%;
    margin: auto;
    font-family: 'Rajdhani', sans-serif;
}

nav .menuIcon {
    display: none;
    position: absolute;
    top: 100%;
    right: 5%;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

nav p {
    font-size: 1rem;
    color: #5cb3b9; 
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1rem;
    padding: 1rem;
}

nav ul li {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    color: #CBE4DE;
    transition:0.3s;
}

nav li span {
    color: #03d2e0;
}

/* transition */
nav ul:hover li{
    opacity:0.8;
    filter:blur(1px);
}

nav ul li:hover{
    opacity:1;
    filter:blur(0);
    color: #0E8388;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    nav {
        width: 100%;
        height: 5rem;
        border-radius: 0 0 1rem 1rem;
    }
    nav .menuIcon {
        display: block;
        top: 25%;
    }
    nav .navMenu {
        width: 100%;
        height: 50vh;
        background-color: rgba(1, 87, 94, 0.9);
        transition: transform 0.5s ease-in-out;
        transform: translateY(-120%);
    }
    .navMenu.open {
        transform: translateY(35%);
      }
    nav p {
        display: none;
    }
    nav ul {
        justify-content: center;
        flex-direction: column;
        border-radius: 0 0 1rem 1rem;
        margin: 0;
        padding: 0;
        height: 60%;
    }
    nav ul li {
        margin: 1rem auto;
        font-size: 1rem;
    }
    nav ul li:hover {
        color: #fff;
    }
  }