.cardContainer {
    background: none;
}

.card {
    color: #cfcfcf;
    width: 100%;
    opacity: 0;
    transform: translateX(120px);
}
  
.card.show {
    border: none;
    background: none;
    height: 20rem;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 1rem 0;
}

.cardImg img {
    width: 35rem;
    height: auto;
}

.cardDescription {
    margin: 1rem 0;
}

.webLink:hover {
    color: #03d2e0;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .col-lg-9 {
        display: flex;
        justify-content: center;
    }

    .cardContainer {
        padding-top: 2rem;
        font-size: 0.75rem;
    }

    .cardImg img {
        width: 15rem;
        height: auto;
    }
}