.project {
    background-color: #f6f6f6;
    font-family: 'Rajdhani', sans-serif;
}

.wrap {
    padding: 7rem 0 0;
    text-align: center;
}

.projectTitle div {
    font-weight: 900;
    color: #fff;
    font-size: 1.2rem;
    width: 7rem;
    margin-bottom: 0.5rem;
}

.projectTitle div:hover {
    background-color: #CBE4DE;
    color: #2E4F4F !important;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .project {
      padding-top: 5rem;
    }

    .projectTitle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .projectTitle div {
        font-size: 1rem;
        width: 5rem;
        text-align: center;
    }

    .col-lg-9 {
        border: none;
        padding: 0 !important;
    }
}