.project {
    background-color: #2E4F4F;
}

.projectContent {
    height: 35rem;
}

.projectContent .container {
    padding-top: 1.5rem;
}

.projectContent .container, .projectContent .row {
    height: 100%;
}

.projectTitle div:hover {
    background-color: #CBE4DE;
    color: #2E4F4F !important;
    cursor: pointer;
}

.col-lg-9 {
    border-left: 1px solid #CBE4DE;
}

.cardContainer .card {
    width: 40%;
    height: 5rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

@media screen and (max-width: 767px) {
    .project {
      padding-top: 5rem;
    }
    .checkerBoard::-webkit-scrollbar{
        display:none;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
  } 
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
  }
  
  @media screen and (min-width: 1200px) {
  
  }