.about {
  background-image: url('../../images/background/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutBanner {
  height: 90%;
  color: #fff;
  font-family: 'Pretendard-Regular', 'sans-serif';
  display: flex;
  align-items: center;
}

.bannerComment {
  display: flex;
  width: 40%;
  z-index: 100;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  z-index: 100;
}

.bannerComment p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 2rem 0;
}

.container, .row {
  display: flex;
}

.container {
  margin-top: 3rem;
}

.row p {
  color: #03d2e0;
  margin: 0;
}

.aboutSkill {
  background-color: #767AC5;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  height: 10%;
}

.aboutSkill p {
  margin: 1rem 0;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.link {
  cursor: pointer;
  font-weight: 900;
}

.link:hover {
  color: #03d2e0;
}

@media screen and (max-width: 540px) and (max-height: 768px) {
  .aboutSkill p {
    font-size: 0.8rem;
  } 
}

@media screen and (max-width: 1024px) {
  ul {
    margin: 0;
  }
  .container {
    width: 80% !important;
  }
  .row {
    width: 100%;
  }
  .aboutBanner {
    font-size: 0.8rem;
  }
  .fontAwesome {
    display: none;
  }
  .bannerComment p {
    margin: 0 0.5rem;
  }
  .bannerComment {
    padding-bottom: 1rem;
  }
  .bannerContent {
    font-size: 0.6rem;
  }
  .aboutSkill {
    font-size: 1rem;
  }
  .aboutSkill p {
    margin: 0.5rem 0;
  }
 }