.aboutBanner {
  background-image: url('../../images/background/cosmos.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 10rem 0 2rem;
  font-family: 'Pretendard-Regular', 'sans-serif';
}

.bannerComment {
  display: flex;
  width: 40%;
  z-index: 100;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  z-index: 100;
}

.bannerComment p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 2rem 0;
}

.aboutBanner .container, .row {
  display: flex;
}

.row p {
  color: #03d2e0;
  margin: 0;
}

.aboutSkill {
  background-color: #1B2430;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.aboutSkill p {
  margin: 1rem 0;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

/*gif Icon*/
.aboutIcon {
  padding: 2rem 0;
}

.aboutIcon li {
  text-align: center;
  width: 25%;
  list-style: none;
  float: left;
  font-family: 'Pretendard-Regular', 'sans-selif';
  font-size: 1rem;
}

.aboutIcon li div {
  width: 5rem;
  height: 5rem;
  margin: 1rem auto;
  background-size: cover;
  background-position: center;
}

.gifClock {
  background-image: url(../../images/icon/clock.gif);
}

.gifComplete {
  background-image: url(../../images/icon/complete.gif);
}

.gifBook {
  background-image: url(../../images/icon/book.gif);
}

.gifPen {
  background-image: url(../../images/icon/pen.gif);
}

.aboutIcon li dt {
  font-size: 1.25rem;
  margin-bottom: 0.7rem;
}

.link {
  cursor: pointer;
  font-weight: 900;
}

.link:hover {
  color: #03d2e0;
}

@media screen and (max-width: 540px) and (max-height: 768px) {
  .aboutIcon li div {
    margin: 0 auto !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  .aboutIcon li dt, dt {
    font-size: 0.8rem !important;
  }
  .aboutBanner {
    padding: 7rem 0 2rem;
  }
  .aboutSkill p {
    font-size: 0.8rem;
  }
  .aboutIcon {
    padding: 0;
  }  
}

@media screen and (min-width: 541px) and (max-width: 820px) {
  .aboutIcon {
    padding-top: 5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  ul {
    margin: 0;
  }
  .container {
    width: 80% !important;
  }
  .row {
    width: 100%;
  }
  .aboutBanner {
    padding: 5rem 0 2rem;
    font-size: 0.8rem;
  }
  .fontAwesome {
    display: none;
  }
  .bannerComment p {
    margin: 0 0.5rem;
  }
  .bannerComment {
    padding-bottom: 1rem;
  }
  .bannerContent {
    font-size: 0.6rem;
  }
  .aboutSkill {
    font-size: 1rem;
  }
  .aboutSkill p {
    margin: 0.5rem 0;
  }
  .aboutIcon {
    padding: 0;
  }
  .aboutIcon li {
    width: 50%;
  }
  .aboutIcon li div {
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;
  }
  .aboutIcon li dd {
    font-size: 0.8rem;
  }
  .aboutIcon li dt {
    font-size: 1rem;
  }
 }