html, body {
    cursor: none;
    font-family: 'Rajdhani', sans-serif;
}

.section {
    background-color: #fbfbfb;
}

.divider {
    width: 100%;
    height: 5px;
    background: none;
  }

.about, .project, .skill {
    height: 100vh;
    padding-top: 8rem;
    box-sizing: border-box;
}

.title {
    color: #03d2e0;
    font-size: 2rem;
    font-weight: 700;
}

.wrap {
    width: 60%;
    margin: 0 auto;
}

.title p {
    margin-bottom: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
    .wrap {
      width: 80%;
      max-width: 540px;
    }

    .dots {
      display: none;
    }
    
    .title {
      font-size: 1.25rem;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 991px) {
    .wrap {
      width: 80%;
      max-width: 720px;
    }

    .dots {
      display: none;
    }

    .title {
      font-size: 1.25rem;
    }
  } 
  
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .wrap {
      width: 80%;
      max-width: 960px;
    }
  }